<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <h1 style="text-align: center;">List Batch</h1>
    <table class="table table-border">
        <tr>
            <td>
                Nomor Transaksi
            </td>
            <td>
                Petugas Faskes
            </td>
            <td>
                Faskes
            </td>
            <td>
                Total_berat
            </td>
            <td>
                Status Permohonan
            </td>
            <td>
                Status Batch
            </td>
            
        </tr>
        {% for elem in daftar %}
        <tr>
            <td>TREQ{{ elem.0 }}</td>   
            <td>{{ elem.1 }}</td>   
            <td>{{ elem.2 }}</td>   
            <td>{{ elem.3 }}</td>  
            <td>{{ elem.4 }}</td> 
            <td>{{ elem.5 }}</td>   
            <td>
                {% if role == 1 %}
                    {% if elem.4 == "PRO" %}
                        <a href="{% url 'kevin:updateKendaraan' update_id=elem.0 %}" value="create" type="submit" class="btn border-dark">Buat Batch</a>
                    {% endif %}
                    
                    {% if elem.4 == "FIN" or elem.4 == "MAS" %}
                        <a href="{% url 'kevin:deleteKendaraan' delete_id=elem.0 %}" value="dtail" type="submit" class="btn border-dark">Detail</a>
                    {% endif %}

                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

    {% if role == 1 %}
    <center>
    <a href="{% url 'kevin:createKendaraan' %}" name="button" value="riwayat_status" type="submit" class="btn border-dark"">Tambah</a></br></br>
    </center>
    {% endif %}


</body>
</html>