<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <h1 style="text-align: center;">List Kendaraan</h1>
    <table class="table table-border">
        <tr>
            <td>
                Nomor
            </td>
            <td>
                Nama
            </td>
            <td>
                Jenis_kendaraan
            </td>
            <td>
                Berat_maksimum (kg)
            </td>
            
        </tr>
        {% for elem in daftar %}
        <tr>
            <td>{{ elem.0 }}</td>   
            <td>{{ elem.1 }}</td>   
            <td>{{ elem.2 }}</td>   
            <td>{{ elem.3 }}</td>  
            <td>
                {% if role == 1 %}
                    <a href="{% url 'kevin:updateKendaraan' update_id=elem.0 %}" value="update" type="submit" class="btn border-dark">Update</a>
                    <a href="{% url 'kevin:deleteKendaraan' delete_id=elem.0 %}" name="button" value="delete" type="submit" class="btn border-dark">Delete</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

    {% if role == 1 %}
    <center>
    <a href="{% url 'kevin:createKendaraan' %}" name="button" value="riwayat_status" type="submit" class="btn border-dark"">Tambah</a></br></br>
    </center>
    {% endif %}


</body>
</html>