<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">Update Lokasi</h1>
    <form method="POST" class="form-control" action="{% url 'kevin:updateLokasi' update_id %}"> 
    {% csrf_token %}

    <table class="col-md-9 p-0 mx-auto">
        {{update_lokasi.as_table}}
    </table>
    <button type="submit">SUBMIT</button>
    </form>
    {{message}}


</body>
</html>
