<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <style>
        body {
            margin: 1em;
        }
        label {
            display: block;
        }
    </style>
</head>

<body>
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div style="background-color: red; padding: 0.5em; color:white; width:fit-content">
            {{ message }}
            </div>
            {% else %}
            <div style="background-color: green; padding: 0.5em; color:white; width:fit-content">
            {{ message }}
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <h2 class='mb-4 ps-1'> Registrasi Admin Satgas </h2>
    <form method="post" class="form-control" action="{% url 'user:daftar_admin_satgas' %}">
        {% csrf_token %}
        {{create_admin_satgas.as_p}}
        <input type="submit" value="Register">
    </form>
</body>
</html>