<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <style>
        body {
            margin: 1em;
        }
        h2{
            width:fit-content;
        }
        .btn{
            margin-bottom: 0.5em;
        }

    </style>
</head>

<body>
    <h2 class='mx-auto'> Dashboard</h2>
    <a href="{% url 'user:logout' %}" type="button" class="mx-auto btn btn-primary">Logout</a><br>
    <b>Role = {{role}}</b><br>
    <b>Username = {{username}}</b> <br>
    {% if role == 'Admin Satgas' %}
    <div>
        <b>PROFIL</b> <br>
        <a href="#" class="btn btn-outline-primary">1. Update Profil</a>
    </div>
    <div>
        <b>PERMOHONAN SUMBER DAYA</b><br>
        <a href="{% url 'alishayb:read_permohonan_sumber_daya' %}" class="btn btn-outline-primary">1. List Permohonan Sumber Daya</a><br>
        <a href="{% url 'alishayb:read_permohonan_sumber_daya' %}" class="btn btn-outline-primary">2. Buat Riwayat Status Permohonan Sumber Daya</a><br>
        <a href="{% url 'alishayb:read_permohonan_sumber_daya' %}" class="btn btn-outline-primary">3. List Riwayat Status Permohonan Sumber Daya</a>
    </div>
    <div>
        <b>ITEM SUMBER DAYA</b> <br>
        <a href="{% url 'alishayb:read_item_sumber_daya' %}" class="btn btn-outline-primary">1. List Item Sumber Daya</a>
    </div>
    <div>
        <b>PESANAN SUMBER DAYA</b><br>
        <a href="{% url 'gilangcy:createPesananSumberDaya' %}" class="btn btn-outline-primary">1. Buat Pesanan Sumber Daya</a><br>
        <a href="{% url 'gilangcy:readPesananSumberDaya' %}" class="btn btn-outline-primary">2. List Pesanan Sumber Daya</a><br>
        <a href="{% url 'gilangcy:readPesananSumberDaya' %}" class="btn btn-outline-primary">3. List Riwayat Status Pesanan Sumber Daya</a>
    </div>
    <div>
        <b>KENDARAAN</b><br>
        <a href="#" class="btn btn-outline-primary">1. Buat Kendaraan</a><br>
        <a href="#" class="btn btn-outline-primary">2. List Kendaraan</a><br>
    </div>
    <div>
        <b>BATCH PENGIRIMAN</b><br>
        <a href="#" class="btn btn-outline-primary">1. Buat Batch Pengiriman</a><br>
        <a href="#" class="btn btn-outline-primary">2. List Batch Pengiriman</a><br>
        <a href="#" class="btn btn-outline-primary">3. Buat Riwayat Status Batch Pengiriman</a><br>
        <a href="#" class="btn btn-outline-primary">4. List Riwayat Status Batch Pengiriman</a>
    </div>
    <div>
        <b>LOKASI</b> <br>
        <a href="#" class="btn btn-outline-primary">1. Buat Lokasi</a><br>
        <a href="#" class="btn btn-outline-primary">2. List Lokasi</a><br>
    </div>
    <div>
        <b>FASILITAS KESEHATAN</b> <br>
        <a href="{% url 'dodo:createFaskes' %}" class="btn btn-outline-primary">1. Buat Faskes</a><br>
        <a href="{% url 'dodo:readFaskes' %}" class="btn btn-outline-primary">2. List Faskes</a><br>
        <a href="{% url 'gilangcy:createStokFaskes' %}" class="btn btn-outline-primary">3. Buat Stock Faskes</a><br>
        <a href="{% url 'gilangcy:readStokFaskes' %}" class="btn btn-outline-primary">4. List Stock Faskes</a>
    </div>
    <div>
        <b>WAREHOUSE SATGAS</b> <br>
        <a href="#" class="btn btn-outline-primary">1. Buat Warehouse Satgass</a><br>
        <a href="#" class="btn btn-outline-primary">2. List Warehouse Satgas</a><br>
        <a href="#" class="btn btn-outline-primary">3. Buat Stock Warehouse Satgas</a><br>
        <a href="#" class="btn btn-outline-primary">4. List Stock Warehouse Satgas</a>
    </div>
    {% elif role == 'Supplier' %}
    <div>
        <b>PROFIL</b> <br>
        <a href="#" class="btn btn-outline-primary">1. Update Profil</a>
    </div>
    <div>
        <b>ITEM SUMBER DAYA</b> <br>
        <a href="{% url 'alishayb:create_item_sumber_daya' %}" class="btn btn-outline-primary">1. Buat Item Sumber Daya</a> <br>
        <a href="{% url 'alishayb:read_item_sumber_daya' %}" class="btn btn-outline-primary">2. List Item Sumber Daya</a>
    </div>
    <div>
        <b>PESANAN SUMBER DAYA</b><br>
        <a href="{% url 'gilangcy:readPesananSumberDaya' %}" class="btn btn-outline-primary">1. List Pesanan Sumber Daya</a><br>
        <a href="{% url 'gilangcy:readPesananSumberDaya' %}" class="btn btn-outline-primary">2. Ubah Riwayat Status Pesanan Sumber Daya</a><br>
        <a href="{% url 'gilangcy:readPesananSumberDaya' %}" class="btn btn-outline-primary">3. List Riwayat Status Pesanan Sumber Daya</a>
    </div>
    <div>
        <b>FASILITAS KESEHATAN</b> <br>
        <a href="{% url 'dodo:readFaskes' %}" class="btn btn-outline-primary">1. List Faskes</a><br>
    </div>
    <div>
       <b>WAREHOUSE SATGAS</b> <br>
        <a href="#" class="btn btn-outline-primary">1. List Warehouse Satgas</a><br>
        <a href="#" class="btn btn-outline-primary">2. List Stock Warehouse Satgas</a>
    </div>
    {% elif role == 'Petugas Faskes' %}
    <div>
        <b>PROFIL</b> <br>
        <a href="#" class="btn btn-outline-primary">1. Update Profil</a>
    </div>
    <div>
        <b>PERMOHONAN SUMBER DAYA</b><br>
        <a href="{% url 'alishayb:create_transaksi_sumber_daya' %}" class="btn btn-outline-primary">1. Buat Permohonan Sumber Daya</a><br>
        <a href="{% url 'alishayb:read_permohonan_sumber_daya' %}" class="btn btn-outline-primary">2. List Permohonan Sumber Daya</a><br>
        <a href="{% url 'alishayb:read_permohonan_sumber_daya' %}" class="btn btn-outline-primary">3. List Riwayat Status Permohonan Sumber Daya</a>
    </div>
    <div>
        <b>FASILITAS KESEHATAN</b> <br>
        <a href="{% url 'gilangcy:readStokFaskes' %}" class="btn btn-outline-primary">1. List Stock Faskes</a>
    </div>
    <div>
        <b>WAREHOUSE SATGAS</b> <br>
        <a href="#" class="btn btn-outline-primary">1. List Stock Warehouse Satgas</a>
    </div>
    <div>
        <b>BATCH PENGIRIMAN</b><br>
        <a href="#" class="btn btn-outline-primary">1. List Batch Pengiriman</a><br>
    </div>
    {% elif role == 'Petugas Distribusi' %}
    <div>
        <b>PROFIL</b> <br>
        <a href="#" class="btn btn-outline-primary">1. Update Profil</a>
    </div>
    <div>
        <b>KENDARAAN</b><br>
        <a href="#" class="btn btn-outline-primary">1. List Kendaraan</a><br>
    </div>
    <div>
        <b>BATCH PENGIRIMAN</b><br>
        <a href="#" class="btn btn-outline-primary">1. List Batch Pengiriman</a><br>
        <a href="#" class="btn btn-outline-primary">2. List Riwayat Status Batch Pengiriman</a>
    </div>
    {% endif %}
</body>
</html>