<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
        h2, h4, .box{
            width:fit-content;
            margin:auto;
        }
    </style>
</head>
<body class="d-flex flex-column">
    <div><h2 class="mx-auto my-3">Pilih Role</h2></div>
    <div class="box mb-3">
    <a href="{% url 'user:daftar_admin_satgas' %}" type="button" class="mx-auto btn btn-primary">Admin Satgas</a>
    <a href="{% url 'user:daftar_petugas_faskes' %}" type="button" class="mx-auto btn btn-primary">Petugas Faskes</a>
    <a href="{% url 'user:daftar_supplier' %}" type="button" class="mx-auto btn btn-primary">Supplier</a>
    <a href="{% url 'user:daftar_petugas_distribusi' %}" type="button" class="mx-auto btn btn-primary">Petugas Distribusi</a>
    </div>

    <a href="{% url 'user:welcome' %}" type="button" class="mx-auto btn btn-primary">Kembali</a>
</body>
</html>