<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
        h2, h4, .box{
            width:fit-content;
            margin:auto;
        }
    </style>
</head>
<body class="d-flex flex-column justify-content-center">
    {% if message %}
            <div class="alert alert-success"  role="alert">
                {{ message }}
            </div>
    {% endif %}
    <div><h2 class="mx-auto my-3">Welcome To SIDIA</h2></div>
    <div><h4 class="mx-auto mb-3">Sistem Distribusi Sumber Daya Penanggulangan Covid-19</h4></div>
    <div class="box">
    <button type="button" class="mx-auto btn btn-primary" onclick=loginURL()>Login</button>
    <a href="{% url 'user:register' %}" type="button" class="mx-auto btn btn-primary">Register</a>
    </div>

    <script>
        function loginURL(){
            location.href = "{% url 'user:login' %}"
        }
    </script>
</body>
</html>