<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buat Permohonan Sumber Daya</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>

    <style>
        body {
            margin: 1em;
        }
        label {
            display: block;
        }
    </style>

</head>
<body>
    {% if messages %}
    {% for message in messages %}
        <div style="background-color: red; padding: 0.5em; color:white; width:fit-content">
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}

    <h3 class='mb-4 ps-1'> Buat Permohonan Sumber Daya </h3>

    <form method="post" class="form-control" action="{% url 'alishayb:create_transaksi_sumber_daya' %}">
        {% csrf_token %}
        {{permohonan_sumber_daya.as_p}}
        <input type="submit" value="Buat">
    </form>

    
</body>
</html>