<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Permohonan Sumber Daya</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <style>
        body {
            margin: 1em;
        }
        input {
            display: block;
        }
        button {
            width: fit-content;
        }
    </style>
</head>
<body class="d-flex flex-column">
    <h2 class="mb-4 ps-1">Detail Permohonan Sumber Daya</h2>
    <form class="form-control" id="daftar_item">
        <label for="nomor_transaksi form-label">Nomor Transaksi:</label>
            <input type="text" class="mb-4" value="TREQ{{data_permohonan.0.0}}" disabled>
        <label for="petugas form-label">Petugas:</label>
            <input type="text" class="mb-4" value="{{data_permohonan.0.1}}" disabled>
        <label for="tanggal form-label">Tanggal:</label>
            <input type="text" class="mb-4" value="{{data_permohonan.0.2}}" disabled>
        <h6>Daftar Item:</h6>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">No. Urut</th>
                <th scope="col">Item</th>
                <th scope="col">Jumlah Item</th>
            </tr>
            </thead>
            <tbody>
                {% for data in data_permohonan %}
                <tr>
                    <td>{{data.3}}</td>
                    <td>{{data.4}}</td>
                    <td>{{data.5}}</td>
                </tr>
                    
                {% endfor %}
            </tbody>
        </table>
        <label for="catatan form-label">Catatan :</label>
            <textarea class="mb-4 form-control" disabled readonly> {{data_permohonan.0.6}}</textarea>

        <button type="button" class="mx-auto btn btn-primary" onclick=createPermohonanURL()>Kembali</button>
    </form>
    
    <script>
        function createPermohonanURL(){
            location.href = "{% url 'alishayb:read_permohonan_sumber_daya' %}"
        }
    </script>
</body>
</html>