<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Item Sumber Daya Baru</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
        body {
            margin: 1em;
        }
        label, select {
            display: block;
        }
    </style>
</head>
<body>
    {% if message %}
        <div class="alert alert-success"  role="alert">
            {{ message }}
        </div>
    {% endif %}
    <h3>Detail Item Sumber Daya</h3>
    <form method="post" class="form-control">
        <label for="kode_item" class="ms-2">Kode Item: </label>
        <input type="text" class="mb-4" value="{{kode_item}}" disabled readonly>

        <label for="supplier" class="ms-2">Supplier: </label>
        <input type="text" class="mb-4" value="{{supplier}}" disabled readonly>
        
        <label for="nama_item" class="ms-2">Nama Item: </label>
        <input type="text" class="mb-4" value="{{nama_item}}" disabled readonly>

        <label for="harga_satuan" class="ms-2">Harga Satuan: </label>
        <input type="number" class="mb-4" value="{{harga_satuan}}" disabled readonly>

        <label for="berat_satuan" class="ms-2">Berat Satuan: </label>
        <input type="number" class="mb-4" value="{{berat_satuan}}" disabled readonly>

        <label for="kode_tipe_item" class="ms-2">Kode Tipe Item: </label>
        <input type="text" class="mb-4" value="{{kode_tipe_item}}" disabled readonly>

        <label for="item">Tipe Item:</label>
        <select id="item" class="mb-4" name="item" disabled readonly>
            <option value="{{ kode_tipe_item }}">{{ tipe_item }}</option>
        </select>

        <button type="button" class="mx-auto btn btn-primary" onclick=listItemURL()> Kembali ke List Item </button>
    </form>
    
    <script>
        function listItemURL(){
            location.href = "{% url 'alishayb:read_item_sumber_daya' %}"
        }
    </script>
        
</body>
</html>