<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Permohonan Sumber Daya</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
        body {
            margin: 1em;
        }
        button {
            width: fit-content;
        }
    </style>
</head>

<body class="d-flex flex-column">
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success"  role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}
    

    <h3 class='mb-4 ps-1'> List Permohonan Sumber Daya </h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Nomor</th>
            <th scope="col">Faskes</th>
            <th scope="col">Tanggal Dibuat</th>
            <th scope="col">Total Berat(Kg)</th>
            <th scope="col">Total Item</th>
            <th scope="col" style="width: 30%">Catatan</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for permohonan in data_permohonan %}
            <tr>
            {% for data in permohonan %}
                {% if data == permohonan.0 %}
                    <td> TREQ{{ data }}</td>
                {% else %}
                    <td> {{ data }} </td>
                {% endif %}
            {% endfor %}
            <td>
                {% if permohonan.6 == "REQ" %}
                    {% if role == "Petugas Faskes" %}
                    <p><a href="{% url 'alishayb:update_permohonan_sumber_daya' permohonan.0 %}">Update</a></p>
                    <p><a href="{% url 'alishayb:delete_permohonan_sumber_daya' permohonan.0 %}">Delete</a></p>
                    {% endif %}
                    {% if role == "Admin Satgas" %}
                    <p><a href="{% url 'alishayb:reject_permohonan' permohonan.0 %}">Reject</a></p>
                    <p><a href="{% url 'alishayb:proses_permohonan' permohonan.0 %}">Process</a></p>
                    {% endif %}
                {% endif %}
                {% if permohonan.6 == "PRO" and role == "Admin Satgas" %}
                <p><a href="{% url 'alishayb:selesai_permohonan_dengan_masalah' permohonan.0 %}">Selesai Dengan Masalah</a></p>
                <p><a href="{% url 'alishayb:selesai_permohonan' permohonan.0 %}">Selesai</a></p>
                {% endif %}
                <p><a href="{% url 'alishayb:detail_permohonan_sumber_daya' permohonan.0 %}">Detail</a></p>
                <p><a href="{% url 'alishayb:riwayat_status_permohonan' permohonan.0 %}">Riwayat Status</a></p>
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button type="button" class="mx-auto btn btn-primary" onclick=createPermohonanURL()>Buat Permohonan Baru</button>
    <a href="{% url 'user:dashboard' %}" type="button" class="mx-auto mt-3 btn btn-primary">Kembali ke Dashboard</a>

    <script>
        function createPermohonanURL(){
            location.href = "{% url 'alishayb:create_transaksi_sumber_daya' %}"
        }
    </script>
</body>
</html>