<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Sumber Daya</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
        body {
            margin: 1em;
        }
    </style>
</head>
<body>
    {% if message %}
        <div class="alert alert-danger"  role="alert">
            {{ message }}
        </div>
    {% endif %}

    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success"  role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}
    
    <h3 class='mb-4 ps-1'> List Item Sumber Daya </h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Kode</th>
            <th scope="col">Supplier</th>
            <th scope="col">Nama Item</th>
            <th scope="col">Harga Satuan</th>
            <th scope="col">Berat Satuan (Kg) </th>
            <th scope="col">Tipe Item</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
            {% for item in list_item %}
                <tr>
                {% for data in item %}
                    {% if data != item.6 %}
                        <td> {{data}} </td>
                    {% endif %}
                {% endfor %}
                
                {% if item.6 == supplier %}
                    <td>
                        <p><a href="{% url 'alishayb:update_item_sumber_daya' item.0 %}"> Update </a></p>
                        <p><a href="{% url 'alishayb:delete_item_sumber_daya' item.0 %}"> Delete </a></p>
                    </td>
                {% endif %}
                
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'user:dashboard' %}" type="button" class="mx-auto btn btn-primary">Kembali ke Dashboard</a>
</body>
</html>