<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riwayat Status Permohonan</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
        body {
            margin: 1em;
        }
    </style>
</head>
<body>
    <h3 class='mb-4'> Riwayat Status Permohonan Sumber Daya </h3>
    <h6> No. Transaksi: TREQ{{no_transaksi}}</h6> 
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Kode Status</th>
            <th scope="col">Status</th>
            <th scope="col">Username Admin Satgas</th>
            <th scope="col">Tanggal Persetujuan</th>
        </tr>
        </thead>
        <tbody>
        {% for riwayat in list_riwayat %}
            <tr>
                <td>{{forloop.counter}}</td>
                {% for data in riwayat %}
                    <td>{{data}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button type="button" class="mx-auto btn btn-primary" onclick=createPermohonanURL()>Kembali</button>

    <script>
        function createPermohonanURL(){
            location.href = "{% url 'alishayb:read_permohonan_sumber_daya' %}"
        }
    </script>

</body>
</html>