<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Item Sumber Daya</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
        body {
            margin: 1em;
        }
        label, select {
            display: block;
        }
    </style>
</head>
<body>
    <h3 class='mb-4 ps-1'> Update Item Sumber Daya </h3>

    <form method="post" class="form-control" action="{% url 'alishayb:update_item_sumber_daya' kode_item='{{kode_item}}' %}">
        {% csrf_token %}
        <label for="supplier">Supplier: </label>
        <input type="text" class="mb-4" value="{{supplier}}" disabled readonly>
        
        <label for="nama_item">Nama Item: </label>
        <input type="text" class="mb-4" value="{{nama_item}}" name="nama_item">

        <label for="harga_satuan">Harga Satuan: </label>
        <input type="number" class="mb-4" value="{{harga_satuan}}" name="harga_satuan">

        <label for="berat_satuan">Berat Satuan: </label>
        <input type="number" class="mb-4" value="{{berat_satuan}}" placeholder="Gram" name="berat_satuan">

        <label for="tipe_item">Tipe Item:</label>
        <select class="mb-4" name="tipe_item" id="tipe_item">
            {% for item in tipe_item %}
            <option value="{{ item.0 }}">{{ item.1 }}</option>
            {% endfor %}
        </select>
        
        <input type="submit" value="Simpan">
    </form>
</body>
</html>