<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Permohonan Sumber Daya</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
        body {
            margin: 1em;
        }
    </style>
</head>
<body>
    <h3 class='mb-4 ps-1'> Update Permohonan Sumber Daya </h3>

    <form method="post" class="form-control" id="daftar_item">
        <label for="no_transaksi">Nomor Transaksi: </label>
        <input type="text" value="TREQ{{no_transaksi}}" disabled readonly>
        
        <label for="petugas">Petugas: </label>
        <input type="text" value="{{data_permohonan.0.0}}" disabled readonly>
        <br />
        <br />
        <h5> Tambahkan Item Baru </h5>
        <label for="item">Tipe Item:</label>
        <select id="item" class="mb-2" name="item">
            {% for item in tipe_item %}
                <option value="{{ item.0 }}">{{ item.1 }}</option>
            {% endfor %}
        </select>
        
        <label for="jumlah_item" class="ms-2">Jumlah Item:</label>
        <input type="number" class="mb-4" id="jumlah_item" name="jumlah_item" min="1">
        
        <input type="submit" value="Tambah">

        <h5>Daftar Item</h5>
            <table class="table table-bordered border border-2">
                <thead>
                <tr>
                    <th scope="col">No. Urut</th>
                    <th scope="col">Kode Item</th>
                    <th scope="col">Jumlah Item</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        
        <label for="catatan">Catatan:</label>
            <textarea class="mb-4 form-control" id="catatan" name="catatan"> {{data_permohonan.0.4}}</textarea>
    </form>

    <form method="post" class="mt-3" id="permohonan"> 
        {% csrf_token %}
        <button type="submit" value="Submit" id="submit">Submit</button>
    </form>

    <script>
        var listDaftarItem = [];
        $(document).ready(function(){
            const noTransaksi = "{{ no_transaksi }}";

            var listPermohonan = JSON.parse("{{data_permohonan_json|escapejs}}")

            listPermohonan.forEach(function(item){
                listDaftarItem.push([item[2], item[3]]);
            })

            addToTable()

            const formItem = document.getElementById('daftar_item');
            formItem.addEventListener("submit", addItem);

            function addItem(e) {
                e.preventDefault();
                var kodeItem = document.getElementById("item").value;
                var jumlahItem = document.getElementById("jumlah_item").value;
                var namaItem = document.getElementById("item").text;
                console.log(namaItem)

                var item_baru = [kodeItem, jumlahItem]
                listDaftarItem.push(item_baru);

                addToTable()
            }
            
            window.addToTable = addToTable;

            function addToTable(){
                var noUrut = 1;
                $("tbody").empty();
                for (let i = 0; i < listDaftarItem.length; i++) {
                    $("tbody").append('<tr>' + 
                                        '<th scope="row">' + noUrut + '</th>' +
                                        '<td>' + listDaftarItem[i][0] + '</td>' +
                                        '<td>' + listDaftarItem[i][1] + '</td>' +
                                        '<td> <button type="button" class="btn btn-danger delete-button" onclick="deleteItem(this.id)" id="' + (noUrut-1) + '">Delete</button> </td>' +
                                    '</tr>');
                    noUrut++;
                }
            }

            $('#submit').one('click', ajaxHandler)

            function ajaxHandler(e){
                e.preventDefault();
                var catatan = document.getElementById("catatan").value;
                $.ajax({
                    url:  '/updatePermohonanSumberDaya/' + noTransaksi + '/',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        'no_transaksi': noTransaksi,
                        'list_daftar_item': listDaftarItem,
                        'total_item': listDaftarItem.length,
                        'catatan': catatan
                    },
                    type: 'POST',
                    async: false,
                    success: function (data) {
                        window.location.href = data.redirecturl;
                    },
                });
            }
        });

        function deleteItem(id) {
            listDaftarItem.splice(id, 1);
            addToTable()
        }

    </script>

</body>
</html>