{% extends "base.html" %}
    {% block content %}
    <h1 style="text-align: center;">FORM TAMBAH FASILITAS KESEHATAN</h1>
    <form method="POST" action="{% url 'dodo:createFaskes' %}">
        {% csrf_token %}
        <p>Kode Faskes: </p>
        <input class="form-control" type="text" id="kode_faskes_nasional" name="kode_faskes_nasional" value="RSA3171000008TC"> 
        <p>ID Lokasi: </p>
        <select class="form-control" id="id_lokasi" name="id_lokasi"> 
            {% for id_lokasi in list_of_id_lokasi %}
            <option value="{{ id_lokasi }}">{{ id_lokasi }}</option>
            {% endfor %}
        </select>
        <p>Lokasi: </p>
        <input class="form-control" type="text" readonly id="lokasi" name="lokasi" value="Alamat..."> 
        <p>Petugas Faskes: </p> 
        <select class="form-control" id="username_petugas" name="username_petugas">
            {% for petugas in list_of_petugas %}
            <option value="{{ petugas }}">{{ petugas }}</option>
            {% endfor %}
        </select>
        <p>Kode Tipe Faskes: </p>
        <select class="form-control" id="kode_tipe_faskes" name="kode_tipe_faskes"> 
            {% for kode_tipe_faskes in list_of_kode_tipe_faskes %}
            <option value="{{ kode_tipe_faskes }}">{{ kode_tipe_faskes }}</option>
            {% endfor %}
        </select>
        <p>Tipe Faskes: </p>
        <input class="form-control" type="text" readonly id="tipe_faskes" name="tipe_faskes" value="Tipe Faskes..."> 
    <button name="button" type="submit" value="tambah">SIMPAN</button>
    </form>
    {% endblock %}
    
    
    {% block scripts %}
    <script>
    $(document).ready(function () {
        $( '#id_lokasi' ).on('change', function ( event ) {
        $.ajax({
            url: window.location.origin + "/get-lokasi-alamat/" + $( '#id_lokasi' ).val(),
            success: function (alamat) {
                $( '#lokasi' ).val(alamat.address);
            }
            });
        });
        
        $( '#kode_tipe_faskes' ).on('change', function ( event ) {
        $.ajax({
            url: window.location.origin + "/get-faskes-tipe/" + $( '#kode_tipe_faskes' ).val(),
            success: function (faskes) {
                $( '#tipe_faskes' ).val(faskes.faskes);
            }
            });
        });
    }
    );
    </script>

    {% endblock %}
