{% extends "read_faskes.html" %}
{% block action-header %}
<td>
    Action
</td>
{% endblock %}


{% block action-td %}
            <td>
                <a href="{% url 'dodo:updateFaskes' kode_faskes=row.kode_faskes_nasional %}" value="update" type="submit" class="btn border-dark">Update</a></br></br>
                <a href="{% url 'dodo:deleteFaskes' kode_faskes=row.kode_faskes_nasional %}" name="button" value="delete" type="submit" class="btn border-dark">Delete</a></br></br>
             </td>
{% endblock %}