{% extends "base.html" %}
    
    {% block content %}
    <h1 style="text-align: center;">List Fasilitas Kesehatan</h1>
    <table class="table table-border">
        <tr>
            <td>
                Kode Faskes
            </td>
            <td>
                Lokasi
            </td>
            <td>
                Petugas Faskes
            </td>
            <td>
                Tipe Faskes
            </td>
            {% block action-header %}
            {% endblock %}
        </tr>
        {% for row in list_of_faskes %}
        <tr>
            <td>{{ row.kode_faskes_nasional }}</td>   
            <td>{{ row.alamat }}</td>   
            <td>{{ row.nama }}</td>   
            <td>{{ row.nama_tipe }}</td>  
            {% block action-td %}
            {% endblock %}
        </tr>
        {% endfor %}
    </table>    
    {% endblock %}
