<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
    <a href="{% url 'user:dashboard' %}">Dashboard</a>
    <h1 style="text-align: center;">Create Stok Faskes</h1>
    {% if step == 1 %}
    <form method="POST" action="{% url 'gilangcy:createStokFaskes' %}">
        <input type="text" hidden value="{{step}}" name="step">
        {% csrf_token %}
        <p>Kode Faskes</p> 
        <select class="form-control" id="kode_faskes" name="kode_faskes">
            {% for faskes in list_faskes %}
            <option value="{{ faskes.0 }}">{{ faskes.0 }}</option>
            {% endfor %}
          </select>
    <button name="button" type="submit" value="submit">Pilih Faskes</button>
    </form>
    {% endif %}

    {% if step == 2 %}
    <form method="POST" action="{% url 'gilangcy:createStokFaskes' %}">
        <input type="text" hidden value="{{step}}" name="step">
        {% csrf_token %}
        <p>Kode Faskes</p> 
        <input class="form-control" type="text" readonly id="kode_faskes" name="kode_faskes" value="{{kode_faskes}}">
        <p>Faskes</p> 
        <input class="form-control" type="text" readonly id="faskes" name="faskes" value="{{faskes}}">
        <p>Item</p>
        <select class="form-control" id="list_item" name="list_item">
            {% for item in list_item %}
            <option value="{{ item.0 }}">{{ item.0 }}</option>
            {% endfor %}
          </select>
    <button name="button" type="submit" value="submit">Pilih Item</button>
    </form>
    </form>
    {% endif %}

    {% if step == 3 %}
    <form method="POST" action="{% url 'gilangcy:createStokFaskes' %}">
        <input type="text" hidden value="{{step}}" name="step">
        {% csrf_token %}
        <p>Kode Faskes</p> 
        <input class="form-control" type="text" readonly id="kode_faskes" name="kode_faskes" value="{{kode_faskes}}">
        <p>Faskes</p> 
        <input class="form-control" type="text" readonly id="faskes" name="faskes" value="{{faskes}}">
        <p>Kode Item</p>
        <input class="form-control" type="text" readonly id="kode_item" name="kode_item" value="{{kode_item}}">
        <p>Nama Item</p>
        <input class="form-control" type="text" readonly id="item" name="item" value="{{item}}">
        <p>Jumlah</p>
        <input class= "form-control" type="number" name="jumlah_item" id="jumlah_item" required>
    <button name="button" type="submit" value="submit">Simpan</button>
    </form>
    {% endif %}

</html>