<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <h1 style="text-align: center;">Detail Pesanan Sumber Daya</h1>
    <p>Nomor Transaksi : {{pesanan.0}}</p>
    <p>Petugas : {{pesanan.1}}</p>
    <p>Tanggal : {{pesanan.2}}</p>
    <p>Supplier : {{daftar_item.0.0}}</p>
    <p>Daftar Item</p>
    <table class="table">
        <tr>
            <td>No. Urut</td>
            <td>Item</td>
            <td>Harga Satuan</td>
            <td>Jumlah Item</td>
        </tr>
        {% for elem in daftar_item %}
        <tr>
            <td>{{elem.1}}</td>
            <td>{{elem.2}}</td>
            <td>Rp.{{elem.3}}</td>
            <td>{{elem.4}}</td>
        </tr>
        {% endfor %}
    </table>
    <p>Total Harga : Rp.{{pesanan.3}}</p>
    <center>
    <a href="{% url 'gilangcy:readPesananSumberDaya' %}" name="button" value="riwayat_status" type="submit" class="btn border-dark"">Kembali</a></br></br>
    </center>
</body>
</html>