<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <a href="{% url 'user:dashboard' %}">Dashboard</a>
    <h1 style="text-align: center;">Stok Faskes</h1>
    <table class="table table-border">
        <tr>
            <td>
                Kode Faskes
            </td>
            <td>
                Nama Faskes
            </td>
            <td>
                Item Sumber Daya
            </td>
            <td>
                Jumlah
            </td>
            {% if role == 'Admin Satgas' %}
            <td>
                Action
            </td>
            {% endif %}
        </tr>
        {% for elem in list_stok_faskes %}
        <tr>
            <td>{{ elem.0 }}</td>
            <td>{{ elem.1 }}</td>   
            <td>{{ elem.2 }}</td>   
            <td>{{ elem.3 }}</td>  
            {% if role == 'Admin Satgas' %}
            <td>
                <a href="{% url 'gilangcy:updateStokFaskes' kode_faskes=elem.0 item=elem.2  %}" name ="update"value="update" type="submit" class="btn border-dark">Update</a></br></br>
                <a href="{% url 'gilangcy:deleteStokFaskes' kode_faskes=elem.0 item=elem.2  %}" name="button" value="delete" type="submit" class="btn border-dark">Delete</a></br></br>
             </td> 
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% if role == 'Admin Satgas' %}
    <center>
    <a href="{% url 'gilangcy:createStokFaskes' %}" name="button" value="riwayat_status" type="submit" class="btn border-dark"">Tambah</a></br></br>
    </center>
    {% endif %}
</body>
</html>