<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <h1 style="text-align: center;">Riwayat STATUS Pesanan Sumber Daya</h1>
    <p>Nomor Transaksi : TOR{{pesanan_id}}</p>
    <table class="table">
        <tr>
            <td>Kode Status</td>
            <td>Status</td>
            <td>Username Supplier</td>
            <td>Tanggal_persetujuan</td>
        </tr>
        {% for elem in list_riwayat %}
        <tr>
            <td>{{elem.0}}</td>
            <td>{{elem.1}}</td>
            <td>{{elem.2}}</td>
            <td>{{elem.3}}</td>
        </tr>
        {% endfor %}
    </table>
    <center>
    <a href="{% url 'gilangcy:readPesananSumberDaya' %}" name="button" value="riwayat_status" type="submit" class="btn border-dark">Kembali</a></br></br>
    </center>
</body>
</html>