<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <a href="{% url 'user:dashboard' %}">Dashboard</a>
    <h1 style="text-align: center;">Pesanan Sumber Daya</h1>
    <table class="table table-border">
        <tr>
            <td>
                No Pesanan
            </td>
            <td>
                Username admin
            </td>
            <td>
                Tanggal
            </td>
            <td>
                Berat Total
            </td>
            <td>
                Jumlah Item
            </td>
            <td>
                Harga Total
            </td>
            <td>
                Status Pesanan
            </td>
            <td>
                Action
            </td>
        </tr>
        {% for elem in daftar %}
        <tr>
            {% if elem.0 < 10 %}
            <td>TOR0{{ elem.0 }}</td>   
            {% else %}
            <td>TOR{{ elem.0 }}</td> 
            {% endif %}
            <td>{{ elem.1 }}</td>   
            <td>{{ elem.2 }}</td>   
            <td>{{ elem.3 }}</td>  
            <td>{{ elem.4 }}</td>  
            <td>Rp.{{ elem.5 }}</td>  
            <td>{{ elem.6 }}</td>   
            <td>
                {% if role == 'Admin Satgas' %}
                    {% if elem.6 == "REQ-SUP" %}
                    <a href="{% url 'gilangcy:updatePesananSumberDaya' pesanan_id=elem.0 %}" name ="update"value="update" type="submit" class="btn border-dark">Update</a></br></br>
                    <a href="{% url 'gilangcy:deletePesananSumberDaya' delete_id=elem.0 %}" name="button" value="delete" type="submit" class="btn border-dark">Delete</a></br></br>
                    {% endif %}
                {% else %}
                    {% if elem.6 == "REQ-SUP" %}
                    <a href="{% url 'gilangcy:createRiwayatStatusPesanan' pesanan_id=elem.0 kode='REJ-SUP' %} " name="button" value="reject" type="submit" class="btn border-dark">Reject</a></br></br>
                    <a href="{% url 'gilangcy:createRiwayatStatusPesanan' pesanan_id=elem.0 kode='PRO-SUP' %}" name="button" value="process" type="submit" class="btn border-dark">Process</a></br></br>
                    {% elif elem.6 == "PRO-SUP" %}
                    <a href="{% url 'gilangcy:createRiwayatStatusPesanan' pesanan_id=elem.0 kode='MAS-SUP' %}" name="button" value="selesai-dengan-masalah" type="submit" class="btn border-dark">Selesai dengan Masalah</a></br></br>
                    <a href="{% url 'gilangcy:createRiwayatStatusPesanan' pesanan_id=elem.0 kode='FIN-SUP' %}" name="button" value="selesai" type="submit" class="btn border-dark">Selesai</a></br></br>
                    {% endif %}
                {% endif %}
                <a href="{% url 'gilangcy:detailPesananSumberDaya' detail_id=elem.0 %}" name="button" value="detail" type="submit" class="btn border-dark">Detail</a></br></br>
                <a href="{% url 'gilangcy:riwayatStatusPesananSumberDaya' pesanan_id=elem.0 %}" name="button" value="riwayat" type="submit" class="btn border-dark">Riwayat Status</a></br></br>
             </td> 
        </tr>
        {% endfor %}
    </table>
    {% if role == 'Admin Satgas' %}
    <center>
    <a href="{% url 'gilangcy:createPesananSumberDaya' %}" name="button" value="riwayat_status" type="submit" class="btn border-dark"">Tambah</a></br></br>
    </center>
    {% endif %}
</body>
</html>