<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
    <a href="{% url 'gilangcy:readPesananSumberDaya' %}">Back</a>
    <h1 style="text-align: center;">Ubah Pesanan Sumber Daya</h1>
    <form method="post" action="{% url 'gilangcy:updatePesananSumberDaya' pesanan_id=no_transaksi %}"> 
        <input type="text" hidden value="{{step}}" name="step">
        {% csrf_token %}
        <p>No Transaksi :</p> 
        {% if no_transaksi < 10 %}
        <input class="form-control" type="text" readonly id="no_transaksi" name="no_transaksi" value="TOR0{{no_transaksi}}">
        {% else %}
        <input class="form-control" type="text" readonly id="no_transaksi" name="no_transaksi" value="TOR{{no_transaksi}}">
        {% endif %}
        <br/>
        <p>Petugas :</p>
        <input class="form-control" type="text" readonly id="admin_satgas" name="admin_satgas" value="{{admin}}"> 
        <p>Supplier</p> 
        <input class="form-control" type="text" readonly id="data_supplier" name="data_supplier" value="{{supplier}}">
        <br/>
        <p style=>Daftar Item</p>
        <table class="table">
            <tr>
                <td>
                    No Urut
                </td>
                <td>
                    Nama
                </td>
                <td>
                    Harga Satuan
                </td>
                <td>
                    Jumlah Item
                </td>
                <td>
                    Action
                </td>
            </tr>
            {% for item in daftar_item_dipesan %}
            <tr>
                <td>{{ item.0 }}</td>   
                <td>{{ item.1 }}</td>   
                <td>{{ item.2 }}</td>   
                <td>{{ item.3 }}</td>   
                <td><button name="button" value="{{item.0}}" type="submit" class="btn btn-danger">Delete</button> </td> 
            </tr>
            {% endfor %}
        </table>
        <p>Tambah Item</p> 
        <select class="form-control" id="data_item" name="data_item">
            {% for item in list_item_supplier %}
            <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
          </select>
        <br/>
        <p>Jumlah :</p>
        <input class= "form-control" type="number" name="jumlah_item" id="jumlah_item" >
        <br/>
        <div  class="form-control" id="list-item" name="list-item">
        </div>
    <button name="button" value="tambah" type="submit">Tambah Item</button>
    <button name="button" value="simpan" type="submit">Simpan Transaksi</button>
    </form>


</body>
</html>